<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART DOOR</title>
</head>
<body>

    <h1>CARD LIST</h1>
    <br>
    <hr>
    <br>

    <h3>Unregister Card List</h3>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Card Number</td>
                <td>Pin</td>
                <td>Pair</td>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each unregisterCardList}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.card_number}}</td>
                    <td>{{this.pin}}</td>
                    <td> <a href="/dashboard/pair?card={{this.card_number}}">Pair to a user</a> </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on("connect", () => {
        })

        const dataContainer = document.querySelector("tbody")
        const tableStructure = ({id, card_number, pin}) => {
            return `
                <tr>
                    <td>${id}</td>
                    <td>${card_number}</td>
                    <td>${pin}</td>
                    <td> <a href="/dashboard/pair?card=${card_number}">Pair to a user</a> </td>
                </td>
            `
        }

        socket.on("newRegisteredCard", async msg => {
            const data = await fetch(`http://127.0.0.1:8000/api/v1/card/detail/${msg}`).then(res=> res.json()).then(data=>{
                return JSON.parse(JSON.stringify(data))
            })

            dataContainer.insertAdjacentHTML("beforeend", tableStructure(data.msg))
           
        })
    </script>
</body>

</html>