<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMART DOOR</title>
</head>
<body>
    <table>
        <th>
            <tr>
                <td>id</td>
                <td>Username</td>
            </tr>
        </th>
        <tbody id="userContainer">
            <tr>

            </tr>
        </tbody>
    </table>
    <form action="/api/v1/user/pair" method="post">
        <input type="number" name="userId" placeholder="Masukan user id">
        <input type="string" name="cardNumber" value="{{ cardNumber }}">
        <button type="submit">Pair User & Card</button>
    </form>

    <script>
        const tableStructure = ({id, username}) => {
            return `
                <tr>
                    <td>${id}</td>
                    <td>${username}</td>
                </td>
            `
        }
        const dataContainer = document.querySelector("#userContainer");
        fetch("http://127.0.0.1:8000/api/v1/user/list").then(res=> res.json()).then(data => {
            const users = data;
            users.map(user=>{
                dataContainer.insertAdjacentHTML("beforeend", tableStructure(user))
            })
        })
    </script>
</body>
</html>