<h1 class="fw-bold">Room List</h1>

<form class="serach--form row mt-5">
    <div class="search--form-username col-md-12">
        <div class="input-group mb-3 shadow-c-1 rounded-13">
            <input type="text" class="form-control rounded-13" placeholder="Search Room Name"
                name="roomname" id="roomname">
            <div class="input-group-prepend p-2 rounded-13">
                <img src="/image/icon_search.svg" alt="Icon search user" class="form-icons">
            </div>
        </div>
    </div>
</form>

<div class="room--list-container mt-3">
    
</div>

<p class="mt-3 text-center pointer" id="showMore">Show More</p>